.body{
  font-family: 'Roboto',sans-serif;
  letter-spacing: 0.02em;
  color: #212121;
  font-weight: 400;
}
.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;

  }
  .logo{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:#2196F3 ;
    text-decoration: none;
  }
  .spam{
      color:#000;
  }
  .spam-footer{
    color:#FFFFFF;
}
.button{
  color:#FFFFFF;
  background-color: #2196F3;
  
}
  /* скрываем название блока*/
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .navigation, 
  .contacts,
  .portfolio-items{
  display: flex;
  list-style: none;
  }

.navigation-item {
    color: #000;
    text-decoration: none;
}
  .navigation-item:hover,
  .navigation-item:focus{
    color: #2196F3;
  }
  .mail{
    text-decoration: none;
    color:#000;

  }
  
      .phone{
        color: #757575;
        text-decoration: none;
    }
  
    .bisnes{
 background-color: #2F303A;
 font-weight: 900;
 font-size: 44px;
 line-height: 1.36;
 text-align: center;
 letter-spacing: 0.06em;
 text-transform: uppercase;
 color: #FFFFFF;
}
.section-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
    
}
.text{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
.about-work,
.about-people{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

}
.box{
  display: flex; 
}
.naim-people,
.naim-portfolio{
 font-weight: 500;
font-size: 16px;
line-height: 1.2;
/* text-align: center; */
letter-spacing: 0.03em;
}
.naim-job,
.naim-project {
font-weight: 400;
font-size: 16px;
line-height: 1.2;
/* text-align: center; */
letter-spacing: 0.03em;
color: #757575;

}
.item-work,
.item-people,
.item-botton{
  display: flex;
}
.footer{
background: #2F303A;

}
.adres{
 font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
text-decoration: none;

}
.mail-footer,
.phone-footer{
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

}
.list{
  list-style: none;
}
.button-item:hover,
.button-item:focus{
    color:#FFFFFF;
    background-color: #2196F3;
  }
  